* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {

    width: 100%;
    background-color: rgb(177, 172, 172);
}

.container {
    width: 400px;
    background-color: rgb(67, 64, 64);
    margin: 30px auto;
    align-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    text-align: center;
    font-style: italic;
    color: white;
}

#text {
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;

}

.bstyle {
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 30px;
    cursor: pointer;
}

li {
    list-style: none;
    background: #fff;
    margin: 10px auto;
    padding: 12px 15px;
    width: 60%;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button {
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}