* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    width: 400px;
    background-color: rgb(rgb(43, 34, 34), rgb(93, 214, 93), rgb(32, 32, 92)) margin: 30px auto;
    margin: 30px auto;
}

h1 {
    text-align: center;
    font-style: italic;
}